<html>
    <head>
        <meta charset="utf-8" />
        <title>202012701 박인규 기말 프로젝트</title>
    </head>
    <body>
        <h1><%= data.name %> 커피 수정 완료</h1>
            - Id : <%= data._id %> <br/><br/>
        <input type="button" value="home" onclick="location.href='/coffee'">
    </body>
</html>