<html>
<head>
   <meta charset="UTF-8" />
    <title>202012701 8주차</title>
</head>
<body>
    <h1><%=data.name %> 커피 정보 추가를 완료했습니다.</h1>
    
<input type="button" value="커피 리스트" onclick="location.href='/coffees'">

</body>
</html>