<html>
<head>
   <meta charset="UTF-8" />
    <title>202012701 PIK 8주차</title>
</head>
<body>
    <h1><%= data.name %>에 대한 정보 수정을 완료했습니다.</h1>

    <input type="button" value="커피 상세정보" onclick="location.href='/coffees/<%= data.id %>'"></br></br>
    <input type="button" value="커피 리스트" onclick="location.href='/coffees'">


</body>
</html>