html
    head
        meta(charset="UTF-8")
        title 202012701 PIK COFFEE LIST
    body
        h2
         a(href='/coffees') 커피 목록
        h1= name
        form(action='/coffees' method='post')
            h2 커피 이름 
                input(type="text" name="name" id="name" value="")
            h2 커피 용량 
                input(type="text" name="volume" id="volume" value="")
            h2 커피 칼로리
                input(type="text" name="calorie" id="calorie" value="")
            h2 커피 카페인 양 
                input(type="text" name="caffeine" id="caffeine" value="")
            h2
                input(type="submit" value="전송")