<html>
<head>
   <meta charset="UTF-8" />
    <title>커피 삭제 완료</title>
    <h1 style="color:burlywood;">202012701 PIK 9주차 (커피 삭제 완료)</h1>
</head>
<body>
    <br><br>

    <input type="button" value="커피 리스트" onclick="location.href='/coffee'">
</body>
</html>